<div fxLayout="column" fxLayoutAlign="space-around center">

    <div class="contacts-wrapper">
        <div class="contact-box new-contact-box" fxLayout="column" fxLayoutAlign="center center" [routerLink]="'/create'">
            <mat-icon>add</mat-icon>
            <p>Add new</p>
        </div>
        <div class="contact-box" fxLayout="column" fxLayoutAlign="center center">
            <div class="actions-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
                <mat-icon class="icon-margin">favorite_border</mat-icon>
                <div class="icon-margin" fxLayout="row" fxLayoutAlign="center center" >
                    <mat-icon>edit</mat-icon>
                    <mat-icon>delete_outline</mat-icon>
                </div>
            </div>
            <div class="profile-box"></div>
            <p>Neko Ime </p>
        </div>
        <div class="contact-box" fxLayout="column" fxLayoutAlign="center center">
            <div style="height: 30px; width: 30px; color: red;"></div>
            <p>Neko Ime </p>
        </div>
        <div class="contact-box" fxLayout="column" fxLayoutAlign="center center">
            <div style="height: 30px; width: 30px; color: red;"></div>

            <p>Neko Ime </p>
        </div>
        <div class="contact-box" fxLayout="column" fxLayoutAlign="center center">
            <div style="height: 30px; width: 30px; color: red;"></div>

            <p>Neko Ime </p>
        </div>
        <div class="contact-box" fxLayout="column" fxLayoutAlign="center center">
            <div style="height: 30px; width: 30px; color: red;"></div>

            <p>Neko Ime </p>
        </div>
    </div>

</div>