<div fxLayout="column" fxLayoutAlign="space-around center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <span class="tab-text" [ngClass]="{'tab-selected': !toggleFavoriteOnly }" (click)="toggleFavoriteOnly = false">All contacts</span>
        <div class="separator"></div>
        <span class="tab-text" [ngClass]="{'tab-selected': toggleFavoriteOnly }" (click)="toggleFavoriteOnly = true">My favorites</span>
    </div>
    
    <div>
        <mat-icon class="search-icon">search</mat-icon>
        <input class="search-input" [(ngModel)]="searchInput" name="searchInput" type="text">
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="contact-box new-contact-box" fxLayout="column" fxLayoutAlign="center center" [routerLink]="'/create'">
            <mat-icon class="icon-color">add</mat-icon>
            <p class="icon-color">Add new</p>
        </div>
        <div *ngFor="let contact of contacts | search: searchInput">
            <div class="contact-box" fxLayout="column" fxLayoutAlign="center center" *ngIf="!toggleFavoriteOnly || (toggleFavoriteOnly && contact.favorite)">
                <div class="actions-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-icon class="icon-margin icon-color" *ngIf="!contact.favorite" (click)="updateFavorite(contact, true)">favorite_border</mat-icon>
                    <mat-icon class="icon-margin icon-color" *ngIf="contact.favorite" (click)="updateFavorite(contact, false)">favorite</mat-icon>
                    <div class="icon-margin hide-icons" fxLayout="row" fxLayoutAlign="center center" >
                        <mat-icon class="icon-color" [routerLink]="'/edit/' + contact.id">edit</mat-icon>
                        <mat-icon class="icon-color" (click)="deleteContact(contact.id)">delete_outline</mat-icon>
                    </div>
                </div>
                <div class="actions-wrapper" fxLayout="column" fxLayoutAlign="center center" [routerLink]="'/details/' + contact.id">
                    <img src="{{contact.profileImg}}" alt="" class="profile-box">
                    <p>{{ contact.fullName }}</p>
                </div>
            </div>
        </div>
    </div>

</div>