<div fxLayout="column" fxLayoutAlign="space-around center">

    <div class="contacts-wrapper">
        <div class="contact-box new-contact-box" fxLayout="column" fxLayoutAlign="center center" [routerLink]="'/create'">
            <mat-icon>add</mat-icon>
            <p>Add new</p>
        </div>
        <div class="contact-box" fxLayout="column" fxLayoutAlign="center center" *ngFor="let contact of contacts">
            <div class="actions-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
                <mat-icon class="icon-margin" *ngIf="!contact.favorite" (click)="updateFavorite(contact, true)">favorite_border</mat-icon>
                <mat-icon class="icon-margin" *ngIf="contact.favorite" (click)="updateFavorite(contact, false)">favorite</mat-icon>
                <div class="icon-margin" fxLayout="row" fxLayoutAlign="center center" >
                    <mat-icon [routerLink]="'/edit/' + contact.id">edit</mat-icon>
                    <mat-icon>delete_outline</mat-icon>
                </div>
            </div>
            <img src="{{contact.profileImg}}" alt="" class="profile-box">
            <p>{{ contact.fullName }}</p>
        </div>
    </div>

</div>