.contact-actions {
    display: none;
}

.search-input {
    padding-left: 40px;
    height: 45px;
    width: 440px;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 34px 0 #E3E3E3;
}

.search-icon {
    position: absolute;
    padding: 13px;
    color: #BBC4C3;
}

.contact-box {
    cursor: pointer;
    margin: 25px;
    height: 150px;
    width: 270px;
    border: 1px solid rgba(187,196,195,0.4);
    border-radius: 4px;
    background-color: #FFFFFF;
}

.contact-box:hover {
    border: 1px solid #2DA1AD;

    .hide-icons {
        visibility: visible;
    }
}

.hide-icons {
    visibility: hidden;
}

.actions-wrapper {
    width: 100%;
}

.icon-color {
    color: #BBC4C3;
}

.icon-margin {
    margin: 0 20px;
}

.profile-box {
    width: 60px;
    height: 60px;
    border: 1px solid #BBC4C3;
    border-radius: 50%;
}

.new-contact-box {
    border: 1px dashed rgba(187,196,195,0.4);
}

.separator {
    box-sizing: border-box;
    height: 15px;
    border: 1px solid #BBC4C3;
    margin: 30px;
}

.tab-text {
    color: #BBC4C3;
    font-family: Lato;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    cursor: pointer;
}

.tab-selected {
    color: #2DA1AD;
}