@import '../../scss/base';

.input-wrapper {
    margin: 20px 0px;
}

.input-wrapper:first-of-type {
    margin-top: 0px;
}

.input-divider {
    box-sizing: border-box;
    height: 2px;
    width: 630px;
    border: 1px solid $main-color;
    margin: 20px 0px;
}

.input-divider:first-of-type {
    margin-top: 0px;
}

.input-icon {
    color: $main-color;
}

.input-label {
    color: $main-color;
    margin: 15px 5px;
}

.input {
    padding-left: 20px;
    box-sizing: border-box;
    height: 60px;
    width: 300px;
    border: 1px solid $second-color;
    opacity: 0.4;
    border-radius: 4px;
}

.input-xs {
    width: 240px !important;
}

.number-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 630px;
    margin-bottom: 10px;
}

.upload-button {
    @include upload-btn;
}

.upload-icon {
    color: $white-color;
}

.buttons-wrapper {
    margin: 20px;
}

.cancel {
    @include action-btn($second-color);
}

.save {
    @include action-btn($main-color);
}

.pointer {
    cursor: pointer;
}

.m-0 {
    margin: 0px;
}

.m-40 {
    margin: 40px;
}

.m-20 {
    margin: 20px;
}

input[type="file"] {
    display: none;
}

.error-input {
    border: 2px solid #e11517;
}

.error-msg {
    color: #e11517;
}

@media only screen and (max-width: 600px) {
    .input-divider {
        width: 325px;
    }

    .number-wrapper {
        width: 325px;
        flex-wrap: wrap;
        justify-content: flex-start;

        .input {
            margin-bottom: 10px;
        }

        .input-icon {
            padding: 20px;
        }
    }

    .input-wrapper {
        margin: 20px 25px;
    }

    .upload-button {
        margin: 0px !important;
    }
}