$main-color: #2DA1AD;
$second-color: #BBC4C3;
$white-color: #FFFFFF;

@mixin action-btn($color){
    border-radius: 100px;
    background-color: $color;
    height: 42px;
    width: 160px;
    color: $white-color;
}

@mixin upload-btn {
    box-sizing: border-box;
    height: 186px;
    width: 186px;
    border: 3px solid rgba(187,196,195,0.3);
    border-radius: 50%;
    background-color: rgba(45,161,173,0.4);
}