@import '../../scss/base';

.title {
    margin: 20px;
    color: $second-color;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
}

.title-wrapper {
    border-bottom: 1px solid #DCDCDC;
    margin-bottom: 30px;
}

.content {
    color: $second-color;
    font-family: Lato;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    text-align: center;
}

.cancel-btn {
    @include action-btn($second-color);
}

.delete-btn {
    @include action-btn($main-color);
}

@media only screen and (max-width: 600px) {
    .mt-5 {
        margin: 5px 0px 0px 0px !important;
    }

    .title-wrapper {
        margin-bottom: 5px !important;
    }
}