<div class="m-40" fxLayout="row wrap" fxLayoutAlign="center center">
    <img [src]="contact.profileImg" alt="profile_img" class="upload-button mobile-hide">

    <div class="w-100">
        <div class="border border-full-width" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon class="icon" [routerLink]="'/'">keyboard_return</mat-icon>
                <p class="title mobile-hide">{{ contact.fullName }}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon class="icon" *ngIf="!contact.favorite" (click)="updateFavorite(contact, true)">favorite_border</mat-icon>
                <mat-icon class="icon" *ngIf="contact.favorite" (click)="updateFavorite(contact, false)">favorite</mat-icon>
                <mat-icon class="icon" [routerLink]="'/edit/' + contact.id">edit</mat-icon>
            </div>
        </div>
        <div class="info-wrapper" fxLayout="column" fxLayoutAlign="center start">
            <div class="border mobile-show" fxLayout="row" fxLayoutAlign="start center">
                <img [src]="contact.profileImg" alt="profile_img" class="upload-button">
                <p class="title">{{ contact.fullName }}</p>
            </div>
            <div class="label-wrapper" fxLayout="row" fxLayoutAlign="start center">
                <p fxLayout="row" fxLayoutAlign="center center" class="label">
                    <mat-icon class="label-icon">email</mat-icon>
                    email
                </p>
                <p class="text">{{ contact.email }}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <p fxLayout="row" fxLayoutAlign="center center" class="label">
                    <mat-icon class="label-icon">phone</mat-icon>
                    numbers
                </p>
                <div fxLayout="column" fxLayoutAlign="start center">
                    <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let num of contact.numbers">
                        <p class="text upper">{{ num.title }}</p>
                        <p class="text underline">{{ num.phoneNumber }}</p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>